{% extends "layout.html" %}

{% block mytitle %}

{% endblock %}

{% block main %}

  <h1>About</h1>
  <article>
    <img src="static/me.jpg" alt="my photo"/>
    <h2>My name is Slavica Karaterzieva and I am located in Macedonia</h2>
    <p class="text-start">I did this project because I took the course: Introduction in computer science from <a href="https://www.harvardonline.harvard.edu/course">Harvard's online education program.</a>
       The course can be found on the <a href="https://home.edx.org/">edx education platform</a>.<br>
       As I was learning web development with the major frameworks available today, I had this idea to develop 12 projects.
       First four of them to be beginner friendly, next four of them to be intermediate, and the last four to be advanced.
       Doing the first four projects was fast and fun, I have them available on my <a href="https://github.com/slavicakaraterzieva?tab=repositories">GitHub account.</a>
       As for the rest of the projects, life happened and I was redirected to learning more about the basics of computer science.
       Needles to say, this was for the better.<br>
       In this course I've learned about how program is compiled, data structures and algorithms, the way the memory is handled, iterating and manipulating jpeg files and much more.
       The two new languages C and Python were challenging to learn, but the amount of understanding of the concept of programming for me grew up exponentially.
       In this final project I implemented most of what I have learned from the course. I can list this platform as the first of my intermediate projects.<br>
       This introduction might be brief, but this platform is for educational purposes only. I oblige myself to make it better in the future.
       Anyway, my original idea was to make a book recipe platform, but that will be another awesome project, probably in different technology. If that happens, It will be displayed
       on my <a href="https://www.linkedin.com/in/slavica-karaterzieva-51644792/">LinkedIn profile.</a> <br>Stay tuned, thanks.
    </p>
  </article>

{% endblock %}
