{% extends "layout.html" %}

{% block mytitle %}

{% endblock %}

{% block main %}

  <h1>Instruction</h1>
  <h4 class="mb-3">
    Welcome and enjoy uploading and reading pdf files, documents and books on my platform.
  </h4>
  <article>
    <h2 class="text-danger">Disclaimer!</h2>
    <p class="text-start fs-5 text text-danger">
    If you upload any books and files that aren't yours, make sure you have the author's permission.
    Make sure the description that you enter about the book or document is accurate. I don't take
    responsibility for your data, so please be responsible yourself. The least I can do is remove it
    manually if it's not up to standards. Thanks for your understanding
    </p>
    <h2>How does this platform work</h2>
    <p class="text-start fs-5 text">
    Anyone can read a document or book that is available, without creating an account.<br>
    If you want to upload your document or book, you must register as publisher. With this feature you
    can upload and read books. A a publisher, you have full control of your uploaded documents and books. You can edit the description,
    or you can remove them, so they are not available any more. You won't have the option to save them to "read latter" list. This feature
    is available only to those who register as readers. <br>
    Readers can read available books and come to them latter.
    Or find a book and read in their own time. The book can be removed from the list, when the reader is done with it.<br>
    The visitors that made an account can edit their details,
    or can delete their account. Login details can be updated too.
    </p>
    <h2>Features</h2>
    <p class="text-start fs-5 text">
    The documents must be pdf only, for now, and they have to have a limited size for the sake of space available.
    The available categories are the only choice for now. Browsing can be done by title of the book or document, by author by date published and category.<br>
    Thanks for visiting.
    </p>
  </article>

{% endblock %}
